body {
  padding-bottom: 3rem;
}

#app {
  padding: 4rem;
  padding-top: 0;

  .container {
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;
  }

  .table {
    width: 80%;
    margin: auto;
  }
}
